<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ path_for('home') }}"><img class="navbar-brand" src="https://lh3.googleusercontent.com/UP0-yjvMnWf0KIoA5N2oo4U07ZphBGEJ5XC-thUGybH5ZHFEgx0reMdRz8sK9lcJSwvac4fIE1uZIM1eYPVoqWKdqwqtSuCc66xUTmQ45BAndYby7JCb6xbS1lXpfkB0aDSlnQoxxj37juE3ZNJIbzoElPVoQvyvpgsAy8s2yvsud629lOUuESt7fzvTEU-oYnbrLhBKt7J-MzXThuNnxJwziq917IhNyei8709_U9oOGObBk2W1EWutkPNlFThFIS65h67n_CsoUZejeSJVtJ9_b4gpM3ith7VyAE0tHsKpgOxeH4BCX0h8FO1xhRWo1Egrj1OdrZzih6RR8akY4-sK8e1RRyz8oUJI_QRNyx5jJ3hK0sZr32MIFYb8ONnkjX6jqtsIKHyhYD_0IDie1j-ZeelQfvjaMCgOda9o1JOt0AcpQuzchbqwTFzpv1M1HR-t82qs2rq9Dimv_QKLJAdDfbCtGrD0XSYwgE7FfxiqKBiUY235SK30ThYDCdDYOPwIrLAKE2wY8crIHFhcpLTKwVjvscxZh5NR8pp-Jpu5nfEFIA-ndgZTkU27lZy1B30S2RdlsrtYUbcNeYeIo_kRadW_FtqXYPJak-nPTSI1MOP-3Gu_1_J8hG0i3Q=w100-h30-no"</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('cart.index') }}">Cart ({{ basket.itemCount }})</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
